
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from rent!</p>
    <p>Rent created at: <%=@rent.created_at%></p>
    <p>Book: <%=@rent.book.title%> </p>
    <p>Rent date start: <%=@rent.start_rent%>% </p>
    <p>Rent date end: <%=@rent.end_rent%>% </p>
  </body>
</html>